@import "../base";


.welcome {
  position: relative;

  &__section-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  &__wrapper {
    position: relative;
    display: flex;
  }

  &__background {
    height: 100vh;
    filter: grayscale(90%);
  }

  &__first {
    position:relative;
    height: 100vh;
    //background-color: $background-gray;
    width: 50%;

    &:after {
      display: none;
      content: '';
      position: absolute;
      right: 0;
      bottom: 4rem;
      width: 0;
      height: 0;
      border: 40px solid transparent;
      border-left-color: $background-gray;
      border-right: 0;
      margin-top: -40px;
      margin-right: -40px;

      @media screen and (max-width: $tablet) and (orientation: landscape) {
        bottom: 0rem;
      }
    }
  }

  &__arrow-down {
    position: absolute;
    color: white;
    bottom: 6rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;

    @media screen and (max-width: $tablet) and (orientation: landscape) {
      bottom: 2rem;
    }
  }

  &__second {
    height: 100vh;
    //background-color: white;
    width: 50%;
    //border-bottom: 1px solid $background-gray;
  }

  &__content {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .2);
    padding: 5rem 2rem 2rem 1rem;
    border-radius: 2rem;

    @media screen and (max-width: $mobile) {
      width: 100%;
      padding: 2rem 1rem;
    }

    @media (orientation: landscape) {
      width: 50%;
    }
  }

  &__title {
    font-size: 6rem;
    color: $blue;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;

    @media screen and (max-width: $mobile) {
      font-size: 3.4rem;
      margin-bottom: 1.5rem;
    }
  }

  &__subtitle {
    font-size: 3rem;
    color: white;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;

    @media screen and (max-width: $mobile) {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  &__description {
    font-size: 2.3rem;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    text-align: center;

    @media screen and (max-width: $mobile) {
      font-size: 1.7rem;
    }
  }

  &__cursor {
    color: $blue !important;
    font-weight: bold !important;
  }
}
