@import ".././base";

.language {

  &__section {
    margin: 4rem 0;
    display: inline-flex;
    flex-direction: column;
  }

  &__row {
    font-size: 2rem;
    display: flex;
    margin: 2rem 0;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      margin: 1rem 0;
      align-items: normal;
    }
  }

  &__title {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
  }

  &__subtitle {
    margin-top: .4rem;
    color: $subtitle-gray;
    font-size: 1.4rem;
    font-weight: normal;
  }

  &__rating {
    height: 3rem;
    width: 3rem;
    background-color: $background-gray;
    border-radius: 50%;
    display: inline-block;
    margin: 1rem .5rem;

    &:first-child {
      margin-left: 0;
    }

    &--fill {
      background-color: $blue;
    }

    @media screen and (max-width: $mobile) {
      height: 2rem;
      width: 2rem;
    }
  }

  &__rating-wrapper {
    margin-left: 5rem;

    @media screen and (max-width: $mobile) {
      margin: 0;
    }
  }

  &__flag {
    display: inline-block;
    vertical-align: middle;
    border-radius: 1rem;
  }
}
