@import ".././base";

.language {
  text-align: center;

  &__section {
    margin: 4rem 0;
    display: inline-flex;
    flex-direction: column;
  }

  &__row {
    font-size: 2rem;
    display: flex;
    margin: 2rem 0;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      margin: 1rem 0;
      align-items: normal;
    }
  }

  &__title-wrapper {
    text-align: left;
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1 0 auto;
    font-size: 1.7rem;
    font-weight: bold;
    display: inline;
    margin-left: 1.2rem;
  }


  &__subtitle {
    display: block;
    margin-top: .4rem;
    color: $semi-gray;
    font-size: 1.4rem;
    font-weight: normal;
  }

  &__flag {
    display: inline-block;
    margin: 0;
    height: 4rem;
    border-radius: .4rem;
    box-sizing: content-box;
  }

  //override
  .score__item {
    width: 3rem;
    height: 3rem;
  }

}
