
.header {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
  }

  &__link {
    text-decoration: none;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    color: #565656;

    @media screen and (max-width: 768px) {
      padding: .5rem 1rem;
    }
  }

  &__icon {
    margin-right: .6rem;
  }
}