@import ".././base";

.header {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 3;
  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, .3);
  transition: box-shadow 1s, background 1s;

  &--init {
    box-shadow: none;
    background: transparent;
  }

  &__navigation {
    display: flex;
    max-width: 120rem;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    //font-family: 'Open Sans', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  &__link {
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #717171;
    cursor: pointer;

    &--active {
      color: $blue;
      border-bottom: 3px solid $blue;
    }

    @media screen and (max-width: $mobile) {
      padding: 1.5rem 1rem;
    }
  }

  &__text {
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  &__icon {
    margin-right: .6rem;
  }
}