@import ".././base";

.header {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;

  &__navigation {
    display: flex;
    max-width: 120rem;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
  }

  &__link {
    text-decoration: none;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    color: #717171;

    @media screen and (max-width: $mobile) {
      padding: 1.5rem 1rem;
    }
  }

  &__text {
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  &__icon {
    margin-right: .6rem;
  }
}