$blue: #40a3d5;;
$background-gray: #E8E8E8;

$mobile: 768px;

body {
  font-family: 'Open Sans', sans-serif;
}

.base-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem 0;
  font-family: 'Open Sans', sans-serif;
}

.title {
  font-size: 2.7rem;
  margin: 0;
  padding: 0rem 0 .6rem 0;
  //font-family: 'Bowlby One SC', cursive;
  //font-family: 'Muli, sans-serif, Arial';
  font-family: 'Open Sans', sans-serif;
  color: $blue;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  padding: 0rem 0 2rem 0;
}

.vertical-timeline-element-icon {
  border: 3px solid white;
  box-shadow: none;
}

.vertical-timeline-element-title {
  font-size: 2rem;
}

.vertical-timeline-element-subtitle {
  font-size: 1.3rem;
  color: 	#696969;
  font-style: italic;
}

.vertical-timeline-element-text {
  font-size: 1.4rem !important;
}

.vertical-timeline-element-date {
  font-size: 1.8rem !important;
  color: black;
}

