$blue: #40a3d5;;
$background-gray: #E8E8E8;
$subtitle-gray: #8a8a8b;

$mobile: 768px;

body {
  //font-family: 'Open Sans', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.base-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem 0;
  //font-family: 'Open Sans', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.scroll-placeholder {
  height: 3.5rem;
}

.title {
  font-size: 2.7rem;
  margin: 0;
  padding: 0rem 0 .6rem 0;
  //font-family: 'Bowlby One SC', cursive;
  //font-family: 'Muli, sans-serif, Arial';
  //font-family: 'Open Sans', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $blue;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  padding: 0rem 0 2rem 0;
}

@media screen and (min-width: $mobile) {

  /* width */
  ::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $blue;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $subtitle-gray;
  }
}

