@import ".././base";

.timeline-item {
  &__header {
    border-radius: 1rem;
    border-color: 1px solid $semi-gray;
    padding: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: bold;
  }

  &__title {
    margin-top: 1rem;
    font-size: 1.7rem;
  }

  &__text {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
  }

  // override
  .vertical-timeline-element-date {
    font-size: 1.8rem !important;

    @media screen and (max-width: $mobile) {
      font-size: 1.4rem !important;
      font-style: italic;
    }
  }

  .vertical-timeline-element-icon {
    border: 3px solid white;
    box-shadow: 0 2px 0 #ddd;
  }
}
