@import ".././base";

.timeline-item {

  &__header {
    border-radius: 1rem;
    border-color: 1px solid $subtitle-gray;
    padding: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
  }

  &__title {
    margin-top: 1rem;
    font-size: 1.7rem;
  }

  &__text {
    font-size: 1.4rem !important;
  }

  &__list {
    font-size: 1.4rem;
    font-weight: 500;
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
  }

  &__list-item:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
  }

  // override
  .vertical-timeline-element-date {
    font-size: 1.8rem !important;

    @media screen and (max-width: $mobile) {
      font-size: 1.4rem !important;
      font-style: italic;
    }
  }

  .vertical-timeline-element-icon {
    border: 3px solid white;
    box-shadow: none;
  }
}

