@import ".././base";

.work {
  background: $background-gray;
  font-family: "Open Sans", sans-serif;

  &__header {

    &--posam {
      background-color: #f2f2f2;
      color: black;
    }

    &--vub {
      background-color: #F36F20;
      color: white;
    }
  }
}
